<div class="controls-view">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
            <a href="#food-panel" class="mdl-tabs__tab is-active">Food</a>
            <a href="#clubs-panel" class="mdl-tabs__tab">Clubs</a>
            <a href="#bars-panel" class="mdl-tabs__tab">Bars</a>
        </div>

        <div class="mdl-tabs__panel is-active" id="food-panel">
            <div class="mdl-grid card-container">
                <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-phone">
                    <div class="wide-card mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">H5</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            HTML5 is the next major revision of the HTML standard superseding HTML 4.01, XHTML 1.0, and XHTML 1.1. HTML5 is a standard for structuring and presenting content on the World Wide Web.
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Locate <i class="material-icons">gps_fixed</i></a>
                        </div>
                        <div class="mdl-card__menu">
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i class="material-icons">info</i></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="mdl-tabs__panel" id="clubs-panel">

            <div class="mdl-grid card-container" ng-repeat="x in clubList">
                <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-phone">
                    <div class="wide-card mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text" ng-bind="x.name"></h2>
                        </div>
                        <div class="mdl-card__supporting-text" ng-bind="x.description">

                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Locate <i class="material-icons">gps_fixed</i></a>
                        </div>
                        <div class="mdl-card__menu">
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i class="material-icons">info</i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdl-tabs__panel" id="bars-panel">
            <div class="mdl-grid card-container">
                <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-phone">
                    <div class="wide-card mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">H5</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            HTML5 is the next major revision of the HTML standard superseding HTML 4.01, XHTML 1.0, and XHTML 1.1. HTML5 is a standard for structuring and presenting content on the World Wide Web.
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Locate <i class="material-icons">gps_fixed</i></a>
                        </div>
                        <div class="mdl-card__menu">
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i class="material-icons">info</i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>