<div class="google-map">
    <div map-lazy-load="https://maps.google.com/maps/api/js?key=<%= apiKey %>&libraries=geometry,places,visualization">
        <ng-map center="43.8563, 18.4131" zoom="10" default-style="false"></ng-map>
    </div>
</div>

