<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/components/material-design-lite/material.min.css">
    <script src="/components/material-design-lite/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <% include partials/navigation.ejs %>
    <% include partials/map.ejs %>
    <% include partials/controls.ejs %>
  </body>
</html>
