<!DOCTYPE html>
<html  ng-app="mopPlaces">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/dist/vendor.css">
    <link rel="stylesheet" href="/css/dist/style.css">
    <script src="/javascripts/dist/app_deps.js"></script>
    <script src="/javascripts/dist/app_bundle.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body ng-controller="indexController">
    <% include partials/navigation.ejs %>

  </body>
</html>
